.cardSlot{
    background-color: rgb(165, 42, 42);
    width: 250px;
    border-radius: 4px;
    font-family: sans-serif;
    color: white;
    &Image{
        width: 100%;
        height: 250px;
    }
    &Content{
        padding:12px 15px 15px;
    
    &Footer{
        display: flex;
        justify-content: space-between;
        &Price{
            font-weight: 700;
        }
        &Btn{
            text-decoration: none;
            color: inherit;
        }
    }   
    &Name{
        font-size: 16px;
        line-height: 16px;
        text-transform: uppercase;
        font-weight: 700;
        margin: 0px;
        box-sizing: border-box;
        padding-top: 12px;
        &Wrapper{
            display: flex;
            justify-content: space-between;
        }
    }   
    }

}