html{
    background-image: url("../../../public/img/background.jpg");
    background-size: cover;
    background-attachment: fixed;
}
.header{
    text-align: center;
    margin-bottom: 20px;
    padding: 10px;
    background-color: rgba($color: #0bd0eb, $alpha: 1);
}
.cardHolder{
    margin: 0 auto;
    width: 1200px;
    display: flex;
    row-gap: 15px;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-items: flex-start;
}
.root{
    margin-top: 150px;
}