.Header{
    &Wrapper{
        // width: 100%;
        display: flex;
        justify-content: center;
        background-color: white;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
    }
    &List{
        list-style: none;
        display: flex;
        &Item{
            text-decoration: none;
            color: black;
            font-family: sans-serif;
            text-transform: uppercase;
            font-weight: 700;
            font-size: 32px;
            margin-right: 95px;
        }
    }

}
